<div class="full-page">
    
    <ng-container>
  
    
      <div class="bg-section text-center" style="background-image: url(https://wallpapers.com/images/featured/black-wuuaobghtdllhliu.jpg);"
        >
        <div class="mx-auto" style="max-width: 31.25rem;">
          <div class="fs-44 pb-21 fw-700">All I need to tell you is Listen</div>
          <p class="fs-28 fw-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae velit corrupti a provident similique dicta maxime quaerat consectetur, illo dignissimos commodi nemo repellat dolorem at. Et beatae saepe architecto laboriosam.</p>
  
        </div>
      </div>
    </ng-container>
    <div class="form-section">
      <div class="card p-32 mx-auto mt-4 form-card">
        <!-- <a routerLink="/" class="text-center d-block">
          <img class="img-fluid org-logo" src="{{currentlogodata.logo}}" alt=""
            *ngIf="currentlogodata.logo != '' && currentlogodata.logo != null">
          <img class="img-fluid org-logo" src="/assets/images/SkizzleHR-Logo/SkizzleHR-HorizontalLogo-Color.svg" alt=""
            *ngIf="currentlogodata.logo == '' || currentlogodata.logo == null">
        </a> -->
        <h3 class="fw-600 text-center py-40">
          <b>Welcome!</b></h3>
        <h5 class=" fw-600 text-center py-40" >Login with username and passowrd
        </h5>
       
        <form [formGroup]="loginForm">
          <div class="mb-24">
            <label for="username" class="form-label">Email or Employee code</label>
            <input type="text" class="form-control" aria-describedby="helpId" formControlName="username" placeholder=""
              autofocus
              [ngClass]="{ 'is-invalid': (submitted || f.username.dirty || f.username.touched)  &&  (f.username.errors)}">
            <div *ngIf="(submitted || f.username.dirty || f.username.touched) && (f.username.errors)"
              class="invalid-feedback">
              <div *ngIf="f.username.errors?.required">{{validationDisplay('required')}}</div>
              <div *ngIf="f.username.errors?.pattern">{{validationDisplay('pattern')}}</div>
              
  
            </div>
  
          </div>
          <div class="mb-16">
            <label for="" class="form-label">Password</label>
            <div class="form-icon icon-right"
              [ngClass]="{ 'is-invalid': (submitted || f.password.dirty || f.password.touched)  &&  (f.password.errors)}">
              <input type="password" class="form-control" placeholder="" formControlName="password"
                [ngClass]="{ 'is-invalid': (submitted || f.password.dirty || f.password.touched)  &&  (f.password.errors)}">
              
            </div>
            <div *ngIf="(submitted || f.password.dirty || f.password.touched) && (f.password.errors)"
              class="invalid-feedback">
              <div *ngIf="f.password.errors?.required">{{validationDisplay('required')}}</div>
              <div *ngIf="f.password.errors?.pattern">{{validationDisplay('pattern')}}</div>

             
  
            </div>
          </div>
         
          <div class="d-grid gap-2 pt-5">
            <button type="submit" class="btn btn-primary" (click)="doLogin()">Login</button>
          </div>
          <div class="d-block text-end fs-14 link "><span class="link-primary">Don't have an account?</span><a href="">Signup</a></div>
        </form>
      </div>
    
    </div>
  </div>
